<% layout('../pageTempelate/index') -%>
<% for(let camp of campList){ %> 
<form  method="POST" action="/campground/edit/<%=camp._id%>?_method=PUT" novalidate>
    <div class="row">
            <h1 class="text-center">New Camp</h1>
            <div class="col-md-6 offset-3 mb-3">
                <form action="/campground" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" id="title" type="text" value="<%=camp.title%>" name="campground[title]" required>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" value="<%=camp.location%>" name="campground[location]" required> 
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" class="form-control" id="image" name="campground[image]" value="<%=camp.image%>" required>
                    </div>
                    <div class="mb-3">
                        <label for="Price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="Price" name="campground[Price]" value="<%=camp.Price%>" required> 
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea type="text" class="form-control" id="description" name="campground[description]" required><%=camp.description%></textarea>
                    </div>
                    <button class="btn-primary col-12"> Edit</button>
                </form>
            </div>
    </div>
</form>
<% } %> 
<script>
    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
</script>
